* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.site {
    width: 100%;
    height: 100%;
	display: grid;
	background-color: #DDD;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"visual controls"
		"visual pressure";
}

div#particles-js {
    grid-area: visual;
    margin: 10px;
    background-color: white;
}

div#controls {
    grid-area: controls;
    margin: 10px;
    padding: 10px;
    background-color: white;
}

div#pressure {
    grid-area: pressure;
    margin: 10px;
    padding: 10px;
    background-color: white;
}

.slider-container {
    margin: 16px 0px;
    display: flex;
}

.slider {
    -webkit-appearance: none;
    flex-basis: 1;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}
